---
import Layout from "../layouts/Layout.astro"
import ContactForm from "../components/ContactForm.astro"
import ContactCTA from "../components/ContactCTA.astro"
---

<Layout>
    <div class="py-10">
    <ContactForm />
    <ContactCTA />
    </div>
</Layout>