---
import Layout from "../layouts/Layout.astro";
import VideoShowcase from "../components/VideoShowcase.astro";
---

<Layout title="Design Process Videos - Interior Design Studio">
  <main class="mt-16">
    <VideoShowcase 
      youtubeChannelUrl="https://youtube.com/@prasiddhaminterior"
      channelName="Prasiddham Interior"
    />
  </main>
</Layout>
