---
import { Image } from 'astro:assets';
import heroImage from '../images/home.jpg';
---
<div class="hero min-h-screen relative">
  <Image 
    src={heroImage} 
    alt="Hero background" 
    class="absolute inset-0 w-full object-cover"
  />
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center relative z-10">
    <div class="max-w-md bg-gray-500/75 p-8 rounded-">
      <h1 class="mb-5 text-5xl  bg-opacity-75 font-bold">Hello there</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>