---
import "../styles/global.css";
import Navbar from "./../components/Navbar.astro";
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Prasiddham Designers</title>

    <!-- Favicons - Simple implementation -->
    <link rel="icon" type="image/x-icon" href="/favicon-black-gradient.png" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" /> -->
    
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="theme-color" content="#d5d5d5" />
    <meta name="msapplication-TileColor" content="#d5d5d5" />
  </head>
  <body>
    <header>
      <Navbar />
      <!-- <Nav/> -->
    </header>
    <main id="main-content" class=" items-center justify-center">
      <slot class="py-64" />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
